layout_python3

# Commands dependencies
# =====================
#
DIRENV_CMD_DEPENDENCIES="zip tar mkdir curl chmod rm"
for mandatory_cmd in ${DIRENV_CMD_DEPENDENCIES}; do
    if [ -z "$(which ${mandatory_cmd})" ]; then
         echo "--- mandatory command not found: ${mandatory_cmd}"
         exit 1
    fi
done

#
# Direnv configuration
# =====================
#
export DIRENV_TMP_DIR="${PWD}/.direnv"
export DIRENV_BIN_DIR="${DIRENV_TMP_DIR}/bin"
if [ ! -e "${DIRENV_BIN_DIR}" ]; then
    mkdir -p "${DIRENV_BIN_DIR}"
fi
export PATH="${DIRENV_BIN_DIR}:${PATH}"

#
# Ansible configuration
# =====================
#
export ANSIBLE_ROLES_PATH="${PWD}/roles"
export ANSIBLE_COLLECTIONS_PATH="${DIRENV_TMP_DIR}"

#
# Tests configuration
# ===================
#
export TEST_VIRTUALBOX_DIRECTORY="${PWD}/tests/virtualbox"

# Environment addons sourcing
# ===========================
#
SUPPORTED_ENV_ADDON_FILES=".env.ansible .env.vagrant .env.vbox"
for env_addon_file in ${SUPPORTED_ENV_ADDON_FILES}; do
    if [ -e "${PWD}/${env_addon_file}" ]; then
        echo "+ loading ${PWD}/${env_addon_file}"
        source ${PWD}/${env_addon_file}
    fi
done

#
# Text color
# ==========
#
export COLOR_OFF='\033[0m'       # Text Reset
# Regular Colors
export BLACK='\033[0;30m'        # Black
export RED='\033[0;31m'          # Red
export GREEN='\033[0;32m'        # Green
export YELLOW='\033[0;33m'       # Yellow
export BLUE='\033[0;34m'         # Blue
export PURPLE='\033[0;35m'       # Purple
export CYAN='\033[0;36m'         # Cyan
export WHITE='\033[0;37m'        # White

#
# Vagrant CLI installation and configuration
# ============================================
#
VAGRANT_VERSION="2.3.1"
VAGRANT_ARCH="linux_amd64"
VAGRANT_PKG_NAME="vagrant_${VAGRANT_VERSION}_${VAGRANT_ARCH}.zip"
VAGRANT_PKG_URL="https://releases.hashicorp.com/vagrant/${VAGRANT_VERSION}/${VAGRANT_PKG_NAME}"
VAGRANT_PKG_PATH="${DIRENV_TMP_DIR}/${VAGRANT_PKG_NAME}"
if [ ! -e "${DIRENV_BIN_DIR}/vagrant" ]; then
    echo "===> Getting vagrant:${VAGRANT_VERSION}:${VAGRANT_ARCH} (can take a while to execute)"
    curl -s -L "${VAGRANT_PKG_URL}" -o "${VAGRANT_PKG_PATH}"
    unzip ${VAGRANT_PKG_PATH} -d ${DIRENV_BIN_DIR}
    chmod 700 ${DIRENV_BIN_DIR}/vagrant
    rm -f ${VAGRANT_PKG_PATH}
fi